 <!-- Features Section -->
 <div th:attr="ng-controller=${editMode}?pageEditController" style="margin-top: 30px" th:fragment="about" xmlns:th="http://www.thymeleaf.org">
     <div th:replace="fragments/rowAlerts :: rowAlerts"></div>
     <div id="home-about" th:utext="${homePage.bodyRows.get(0).get(0)}"></div>
     <div th:if="${editMode}" class="btn-group" role="group">
         <button type="button" class="btn btn-danger btn-circle" ng-if="!inEditMode('home-about')" ng-click="editComponent('home-about')">
             <span class="fa fa-edit fa-lg"></span>
         </button>
         <button type="button" class="btn btn-success btn-circle" ng-if="inEditMode('home-about')" ng-click="saveComponent('home', 'about'); updateComponent(0, 0, 'akèy', 'home-about')">
             <span class="fa fa-save fa-lg"></span>
         </button>
         <button type="button" class="btn btn-info btn-circle" ng-if="inEditMode('home-about')" ng-click="cancelEditComponent('home-about')">
             <span class="fa fa-times-circle fa-lg"></span>
         </button>
     </div>
     <!-- /.row -->
 </div>

