 <div class="container" th:fragment="objectList" xmlns:th="http://www.thymeleaf.org">
     <div class="row">
         <div class="col-md" th:each="field: ${object.findBootstrapHtmlDisplayFieldNames()}">
             <strong th:text="${field}"></strong>
         </div>
     </div>
     <hr class="divider"/>

     <div th:each="object: ${objects}">
         <div class="row">
             <div class="col-md" th:each="bootstrapField: ${object.classToBootstrapDisplay()}" th:utext="${bootstrapField.htmlCode}"></div>
         </div>
         <hr class="divider"/>
     </div>

     <hr class="divider"/>
     <div class="row">
         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addObjectModal" th:text="${addButtonText}"></button>
     </div>

     <div th:replace="fragments/modals/modelEdit :: modelEdit"></div>

 </div>