<div class="col-md-12" style="margin: auto" th:fragment="search" xmlns:th="http://www.thymeleaf.org">
    <h3 class="text-center">Chache</h3>
    <div id="custom-search-input" class="jumbotron" style="padding: 18px">
        <div class="input-group">
            <input type="text" class="form-control input-lg" placeholder="Chache" />
            <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="button">
                    <span class="fa fa-search"></span>
                </button>
            </span>
        </div>
    </div>
</div>
