<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headImports :: head"></head>

    <body>
        <nav th:replace="fragments/navbar :: nav"></nav>
        <div class="d-flex" style="margin-top: 20px">

            <nav th:replace="fragments/sidebar :: sidebar"></nav>

            <!-- Page Content -->
            <div class="content p-4">

                <!-- Page Content -->
                <div class="container">

                  <div th:replace="fragments/objectList :: objectList(path='/api/banner', objects=${banners}, object=${banner})"></div>

                </div>
                <!-- /.container -->

            </div>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>