<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headImports :: head"></head>

    <body>
        <nav th:replace="fragments/navbar :: nav"></nav>   
        
        <!-- Page Content -->
        <div class="container" style="margin-top: 50px">

          <div th:replace="fragments/objectList :: objectList(objects=${books}, object=${book})"></div>

        </div>
        <!-- /.container -->
    
        <footer th:replace="fragments/footer :: footer"></footer>   
    </body>
</html>