<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headImports :: head"></head>

    <body ng-app="ayitili-app" ng-controller="modalController">
        <nav th:replace="fragments/navbar :: nav"></nav>
        <div class="d-flex" style="margin-top: 20px">

            <nav th:replace="fragments/sidebar :: sidebar"></nav>

            <!-- Page Content -->
            <div class="content p-4">
                <div class="container" ng-controller="booksController">

                    <h2>Liv nou yo</h2>
                    <div class="container" id="book-list">
                        <div class="row justify-content-md-center">
                            <div ng-repeat="(bookId, book) in books track by $index" class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                                <div class="card h-100">
                                    <img class="card-img-top" ng-src="{{'/images/' + book.image.id + '.jpg'}}" style="width: 50%; margin: 10px 20px;" />
                                    <div class="card-body">
                                        <h6 class="card-title">{{ book.title }}</h6>
                                        <p class="small card-text">{{ book.summary }}</p>
                                        <span uib-rating="" ng-model="book.rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value, book.id)" on-leave="book.overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
                                        <span class="label" ng-class="getClass(book.rate)" ng-show="showRateLabel(book.overStar)"> {{book.rate }}</span>
                                        <p class="small card-text text-warning">20.00 HTG</p>
                                        <a class="btn-sm btn btn-info" href="{{ '/bookAssesment/' + bookId }}">Rapò</a>
                                        <button class="btn-sm btn btn-danger">Telechaje <span class="badge badge-light">pdf</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#end-books" du-scrollspy=""></a>
                        <div class="row justify-content-md-center" id="end-books"></div>
                    </div>
                </div>
                <!-- /.container -->

            </div>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>