<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headImports :: head"></head>

    <body ng-app="ayitili-app" ng-controller="modalController">
        <nav th:replace="fragments/navbar :: nav"></nav>
        <div class="d-flex" style="margin-top: 20px">

            <nav th:replace="fragments/sidebar :: sidebar"></nav>

            <!-- Page Content -->
            <div class="content p-4">
                <div th:replace="fragments/modals/loginModal :: loginModal"></div>


                <header th:replace="fragments/carousel :: carousel"></header>
                <!-- Page Content -->
                <div class="container">

                  <div th:replace="fragments/search :: search"></div>

                  <!-- Portfolio Section -->
                  <h3 class="text-center" style="margin-top: 30px"> <strong>Liv nou rekòmande</strong></h3>
                  <div th:replace="fragments/multiCarousel :: carousel"></div>

                  <div th:replace="fragments/about :: about"></div>

                  <hr/>

                  <div th:replace="fragments/join :: join"></div>

                </div>
                <!-- /.container -->

            </div>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>