<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/headImports :: head"></head>

<body ng-app="ayitili-app">
<nav th:replace="fragments/navbar :: nav"></nav>
<script src="/webjars/html2canvas/1.0.0-alpha.9/dist/html2canvas.min.js"></script>

<!-- Page Content -->
<div class="container" style="margin-top: 50px" ng-controller="pageEditController" th:attr="ng-init=${currentPage}?'pageId=\'' + ${currentPage.id} + '\''">
    <div class="row">
        <div id="success-alert" class="alert alert-success alert-dismissible fade show" role="alert" hidden="">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Sa byen pase!</strong> Ou anrejistre non paj la.
        </div>
        <div id="update-alert" class="alert alert-info alert-dismissible fade show" role="alert" hidden="">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>On pati fini!</strong>
            <p ng-bind-html="update"></p>
        </div>
        <div id="error-alert" class="alert alert-danger alert-dismissible fade show" role="alert" hidden="">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Oh oh! Bagay yo myèl!</strong> {{ error }}.
        </div>
    </div>
    <div class="row justify-content-md-center">
        <form class="needs-validation col" ng-submit="savePage()" novalidate="" id="pageNameForm">
            <div class="form-group">
                <label>Non paj la</label>
                <input type="text" class="form-control form-control-lg rounded-0" name="name" required="required" ng-model="currentPage.name"/>
                <div class="invalid-tooltip" style="position: relative">Fòk ou chwazi on non.</div>
            </div>
            <div class="form-group">
                <label>Lyen paj la</label>
                <input type="text" class="form-control form-control-lg rounded-0" name="formatedName"  pattern=".{7,}" required="required" readonly="readonly" value="/page/{{ currentPage.name | lowercase | spaceToDash }}"/>
                <div class="invalid-tooltip" style="position: relative">Fòk ou chwazi mete on non pou lyen and fòme.</div>
            </div>
            <button class="btn btn-info" type="submit">Anrejistre Tout</button>
        </form>
        <div class="col">
            <!--<canvas id="page-preview-canvas" width="450" height="300"></canvas>-->
            <h4>Apèsi</h4>
            <a data-toggle="modal" data-target="#page-render-modal">
                <img class="img-fluid img-thumbnail" ng-src="{{preview}}"/>
            </a>
        </div>
    </div>
    <div ng-repeat="row in currentPage.bodyRows track by $index" class="row" style="margin: 50px">
        <div class="col">
            <div class="row">
                <div class="col" ng-repeat="col in row track by $index">
                    <div class="row" >
                        <div class="col">
                            <div id="{{ $parent.$index + '-' + $index }}" ng-bind-html="col"></div>
                        </div>
                        <div class="col-2">
                            <div class="btn-group-vertical" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-primary btn-circle" ng-if="!inEditMode($parent.$index + '-' + $index)" ng-click="editComponent($parent.$parent.$index + '-' + $index)">
                                    <span class="fa fa-edit fa-lg"></span>
                                </button>
                                <button type="button" class="btn btn-success btn-circle" ng-if="inEditMode($parent.$index + '-' + $index)" ng-click="saveComponent($parent.$parent.$index, $index)">
                                    <span class="fa fa-save fa-lg"></span>
                                </button>
                                <button type="button" class="btn btn-info btn-circle" ng-if="inEditMode($parent.$index + '-' + $index)" ng-click="cancelEditComponent($parent.$parent.$index + '-' + $index)">
                                    <span class="fa fa-times-circle fa-lg"></span>
                                </button>
                                <button type="button" class="btn btn-danger btn-circle" ng-click="deleteComponent($parent.$index, $index)">
                                    <span class="fa fa-trash fa-lg"></span>
                                </button>
                                <button type="button" class="btn btn-success btn-circle" ng-if="!inEditMode($parent.$index + '-' + $index)" ng-click="addColumn($parent.$parent.$index, $index)">
                                    <span class="fa fa-plus-square fa-lg"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary btn-circle" ng-click="addRow($index)">
                    <span class="fa fa-plus-square fa-lg"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="container" id="page-render" ng-show="rendering">
        <div ng-repeat="row in currentPage.bodyRows track by $index" class="row justify-content-md-center">
            <div ng-repeat="col in row track by $index" class="col" ng-bind-html="col"></div>
        </div>
    </div>
    <div class="modal fade modal-fullscreen" role="dialog" id="page-render-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Apèsi</h5>
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="col" ng-src="{{preview}}"/>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>