<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headImports :: head"></head>

    <body>
        <nav th:replace="fragments/navbar :: nav"></nav>
        <div class="d-flex" style="margin-top: 20px">

            <nav th:replace="fragments/sidebar :: sidebar"></nav>

            <!-- Page Content -->
            <div class="content p-4">
                <div class="container">

                  <div th:each="row : ${currentPage.bodyRows}" class="row">
                      <div th:each="col : ${row}" class="col" th:utext="${col}"></div>
                  </div>

                </div>
                <!-- /.container -->
            </div>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>