<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headImports :: head"></head>

    <body ng-app="ayitili-app">
        <script src="/js/pageListController.js"></script>

        <nav th:replace="fragments/navbar :: nav"></nav>
        <div class="d-flex" style="margin-top: 20px">

            <nav th:replace="fragments/sidebar :: sidebar"></nav>

            <!-- Page Content -->
            <div class="content p-4">

                <!-- Page Content -->
                <div class="container jumbotron">
                    <div ng-controller="pageTableController">
                        <p class="text-info text-center"><strong>{{ message }}</strong></p>
                        <br/>
                        <table id="page-table" datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-striped table-bordered"></table>
                        <div th:replace="fragments/modals/pagePreviewModal :: pagePreview(extraClass='')"></div>
                    </div>
                </div>
                <!-- /.container -->

            </div>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>